---
import '@/assets/skills.css';

const skills = [
    { name: "JavaScript / TypeScript", percentage: 95 },
    { name: "React JS", percentage: 70 },
    { name: "Astro Framework", percentage: 90 },
    { name: "Node JS / SQL / Auth", percentage: 75 },
    { name: "UI/UX Design / CSS / Tailwind", percentage: 90 },
];
---

<div class="skills-side">
    <h3 class="skills-title" data-key="about.expertise">Habilidades</h3>
    <div class="skills-container">
        {skills.map((skill) => (
            <div class="skill-item">
                <div class="skill-info">
                    <span>{skill.name}</span>
                    <span class="percent">{skill.percentage}%</span>
                </div>
                <div class="progress-bar">
                    <div class="progress" data-width={`${skill.percentage}%`}></div>
                </div>
            </div>
        ))}
    </div>
</div>