.main-hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background: transparent; 
}

.fixed-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    z-index: 10;
}

.logo-center {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-container {
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#mainhero-logo, .scroll-container {
    will-change: opacity; 
}